Binaries
DerivedDataCache
Saved
*.opensdf
*.sdf
*.v12.suo
Intermediate
ShooterGame.sln
ShooterGame.uproject
/ShooterGame.uproject
/ShooterGame.sln
Content/Maps/
*.umap
.idea
.vs
CMakeLists.txt
*VC.db
*VC.opendb
.localhistory/
*.xcworkspace
Build
*.DS_Store
